@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


 /* mgeneric styles */
* {
    margin: 0;
    border: 0;
    padding: 0;
}


 /* menu styles */

 .menu {
    width: 1350px;
 }

 .menu__items {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .menu__logo {
    height: 30px;
    width: 120px;
    margin-left: 70px;
 }

 .menu__icons {
    margin-right: 70px;
 }

 .menu__icons_items {
    height: 20px;
    width: 20px;
    margin: 15px;
 }

 .menu__banner {
    width: 100%;
 }


 /* info styles */

 .info {
    height: 50px;
    width: 100%;
 }

 .info__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
 }

 .info__items_title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 70px;
    color: #161616;
 }

 .info__items_text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #161616;
    margin-right: 70px;
 }